/* Paramètres généraux */

@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
    src: url("Raleway/static/Raleway-Thin.ttf");
}

body{
    font-family: "Raleway", Arial, "Arial Black";
    margin:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Mise en page du Header */

header img{
    margin-top: 10px;
    margin-left: 40px;
}

.inscrire{
    position: absolute;
    top: 27px;
    right: 35px;
    color: #0065FC;
    font-weight: bold;
}

nav ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px #F2F2F2 solid;
}

nav ul li{
    padding-bottom: 7px;
    font-weight: bold;
}

/* Mise en page Titres et Sous-titres */

#premiere_section{
    text-align: center;
}

/* Formulaire */

form{
    display: flex;
    justify-content: center;
}

.icon_map{
    width: 35px;
    height: 35px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon_map i{
    padding: 8px;
    font-size: 15px;
}

input{
    padding-left: 10px;
    border-color: transparent;
    font-weight: bold;
}

.rechercher{
    display: none;
}

.icon_loupe{
    width: 35px;
    height: 35px;
    background-color: #0065FC;
    border-radius: 10px;
}

.icon_loupe i{
    padding: 8px;
    font-size: 15px;
    color: white;
}

/* Mise en page Section des filtres */

#section_filtres{
    margin-left: 40px;
}

.conteneur_filtres{
    display: flex;
    flex-direction: column;
}

.filtre_familial{
    position: absolute;
    right: 70px;
}

.filtre_romantique, .filtre_animaux{
    padding-top: 15px;
}

/* Texte informatif "Plus de 500..." */

.info{
    display: flex;
    align-items: center;
}

.info i{
    color: #0065FC;
    font-size: 10px;
    border: 3px #F2F2F2 solid;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p{
    padding-left: 10px;
    padding-top: 20px;
    margin: 0;
}

/* Début de la partie principale (Main) */

/* Aside "Les plus populaires" */

aside{
    background-color: #F2F2F2;
    height: 550px;
}

h3{
    margin-left: 40px;
    padding-top: 15px;
}

h3 i{
    position: absolute;
    right: 30px;
}

/* Les 3 hôtels les plus populaires */

.hotel_1, .hotel_2, .hotel_3{
    display: flex;
    background-color: white;
    border: 7px white solid;
    border-radius: 24px;
}

.hotel_1 img, .hotel_2 img, .hotel_3 img{
    object-fit: cover;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.hotel_1 img, .hotel_3 img{
    width: 50%;
}

.hotel_2 img{
    width: 76%;
}

.hotel_3{
    height: 137px;
}

aside figcaption{
    padding-left: 10px;
}

/* Conteneur icônes étoiles */

.etoiles i{
    color: #0065FC;
}

.heb img, .act img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements figcaption{
    padding-left: 15px;
}

.afficher_plus{
    padding-left: 40px;
    font-weight: bold;
}

/* Mise en page du Footer */

footer{
    height: 335px;
    padding-top: 10px;
    padding-left: 40px;
    background-color: #F2F2F2;
}

footer ul{
    padding: 0;
}