/* Paramètres généraux */

@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
    src: url("Raleway/static/Raleway-Thin.ttf");
}

body{
    font-family: "Raleway",Arial, "Arial Black";
    margin:0;
    font-size: 16px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Mise en page du Header */

header img{
    margin-top: 10px;
    margin-left: 40px;
}

.inscrire{
    position: absolute;
    top: 27px;
    right: 35px;
    color: #0065FC;
    font-weight: bold;
}

nav ul{
    padding: 0;
    display: flex;
}

nav ul li{
    padding-bottom: 10px;
    font-weight: bold;
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 3px #F2F2F2 solid;
}

.nav_heb a{
    color: #0065FC;
}

.nav_heb{
    border-bottom-color: #0065FC;
}

.liens_nav:hover{
    color: #0065FC;
}

nav ul li:hover{
    border-bottom-color: #0065FC;
}

/* Mise en page Titres et Sous-titres */

#premiere_section{
    text-align: center;
}

h1{
    width: 97%;
}

/* Formulaire */

form{
    display: flex;
    justify-content: center;
}

.icon_map{
    width: 35px;
    height: 35px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_map i{
    font-size: 15px;
}

input{
    padding-left: 10px;
    border-color: transparent;
    font-weight: bold;
}

.rechercher{
    display: none;
}

.icon_loupe{
    width: 35px;
    height: 35px;
    background-color: #0065FC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_loupe i{
    font-size: 15px;
    color: white;
}

/* Mise en page Section des filtres */

#section_filtres{
    margin-left: 40px;
}

.conteneur_filtres{
    display: flex;
    flex-direction: column;
}

.conteneur_filtres i{
    width: 45px;
    height: 55px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    color: #0065FC;
}

span a{
    font-weight: bold;
    padding-left: 5px;
}

span:hover{
    background-color: rgb(127, 155, 201);
}

.filtre_eco, .filtre_romantique, .filtre_animaux{
    width: 50%;
    height: 50px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filtre_familial{
    position: absolute;
    right: 20px;
    width: 35%;
    height: 50px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filtre_romantique, .filtre_animaux{
    margin-top: 10px;
}

.filtre_animaux{
    width: 60%;
}

/* Texte informatif "Plus de 500..." */

.info{
    display: flex;
    align-items: center;
}

.info i{
    color: #0065FC;
    font-size: 10px;
    border: 3px #F2F2F2 solid;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p{
    padding-left: 10px;
    padding-top: 20px;
    margin: 0;
}

/* Début de la partie principale (Main) */

/* Aside "Les plus populaires" */

aside{
    background-color: #F2F2F2;
    height: 530px;
}

h3{
    margin-left: 40px;
    padding-top: 15px;
}

h3 i{
    position: absolute;
    right: 30px;
}

/* Les 3 hôtels les plus populaires */

figure{
    box-shadow: 1px 1px 10px rgb(126, 124, 124);
}

.hotel_1, .hotel_2, .hotel_3{
    display: flex;
    background-color: white;
    border: 7px transparent solid;
    border-radius: 24px;
    height: 120px;
}

.hotel_1 img, .hotel_2 img, .hotel_3 img{
    object-fit: cover;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 120px;
}

aside figcaption{
    padding-left: 7px;
}

aside figcaption p{
    margin-top: 7px;
}

/* Conteneur icônes étoiles */

.etoiles i{
    color: #0065FC;
}

i.grise{
    color: rgb(218, 232, 222);
}

/* Sections hébergements et activités */

.heb img, .act img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Nom des sections */
.hebergements figcaption, .activites figcaption{
    padding-left: 15px;
    height: 110px;
}

.afficher_plus{
    padding-left: 40px;
    font-weight: bold;
}

/* Nom des figures */
.heb, .act{
    border-radius: 15px;
}

.act{
    height: 240px;
}

.heb img{
    padding: 3px 3px;
    width: 98%;
    height: 120px;
}

.act img{
    height: 180px;
}

h4{
    margin: 0;
}

/* Mise en page du Footer */

footer{
    padding-top: 10px;
    padding-left: 40px;
    background-color: #F2F2F2;
    margin-top: 40px;
    padding-bottom: 10px;
}

footer ul{
    padding: 0;
}

footer ul li{
    padding-bottom: 5px;
}

h5{
    font-size: 16px;
}

/* Début des Médias queries */

/* Ecrans supérieurs ou égals à 667px (Tablettes) */
@media screen and (min-width: 667px) {
    body{
        font-size: 18px;
    }
    
    /* Titre et Sous-titre */
    #premiere_section{
        text-align: initial;
        padding-left: 20px;
    }

    form{
        display: flex;
        justify-content: flex-start;
    }

    .filtre_eco{
        margin-top: 9px;
        width: 30%;
    }

    .filtre_familial{
        position: initial;
        margin-top: 10px;
    }

    .filtre_romantique, .filtre_animaux{
        width: 30%;
    }

    .conteneur_filtres{
        display: flex;
        flex-direction: row;
    }

    /* Div infobulle */
    #info{
        margin-top: 19px;
    }

    .conteneur_figheb{
        display: flex;
    }

    .figheb{
        width: 50%;
    }

    .heb img{
        width: 99%;
    }

    .activites figcaption{
        height: auto;
    }

    footer{
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        height: auto;
    }

    footer li{
        padding: 7px 0px;
    }
}

/* Ecrans supérieurs ou égals à 1288px (Ordinateurs) */
@media screen and (min-width: 1288px) {
    body{
        max-width: 1400px;
        margin: auto;
    }
    
    header{
        display: flex;
    }

    nav{
        display: flex;
        width: 87%;
        justify-content: flex-end;
    }

    nav ul{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-top: 3px;
    }

    nav ul li{
        width: 30%;
        padding-top: 26px;
        border-bottom: none;
        border-top: 3px #F2F2F2 solid;
    }

    .nav_heb{
        border-top-color: #0065FC;
    }
   
    nav ul li:hover{
        border-top-color: #0065FC;
    }

    .inscrire{
        position: initial;
        order: 3;
        padding-top: 30px;
        margin-left: 30px;
    }

    /* Formulaire */
    .icon_loupe{
        display: none;
    }

    .rechercher{
        display: initial;
        background-color: #0065FC;
        color: white;
        border: 3px transparent solid;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        width: 10%;
        cursor: pointer;
        font-size: 15px;
    }

    #section_filtres{
        margin-left: 25px;
    }

    /* Conteneur du h2 et des filtres */
    .filtres{
        display: flex;
    }

    .conteneur_filtres{
        flex-direction: row;
        align-items: center;
        width: 93%;
        padding-left: 20px;
    }

    .filtre_eco{
        margin-top: 11px;
    }

    .filtre_eco, .filtre_familial, .filtre_romantique, .filtre_animaux{
        height: 60%;
        margin: 0px 26px;
    }

    
    .conteneur_filtres i{
        width: 48px;
        height: 48px;
        font-size: 16px;
    }
    
    span a{
        padding-left: 15px;
    }

    .conteneur_popheb{
        display: flex;
        flex-direction: row-reverse;
        width: 98%;
        margin: auto;
    }

    h3 i{
        position: initial;
        padding-left: 150px;
    }

    /* Section */
    .hebergements{
        max-width: 65%;
        background-color: #F2F2F2;
        margin-top: 20px;
        border-radius: 30px;
    }

    .hebergements figure{
        background-color: white;
    }

    .conteneur_figheb{
        display: flex;
        flex-wrap: wrap;
    }

    /* Div conteneur */
    .figheb{
        display: flex;
        width: 100%;
        height: auto;
    }

    .figheb figure{
        width: auto;
        height: auto;
        margin-right: 0;
    }

    /* Nom des figures hébergements */
    .heb img{
        width: 220px;
    }

    .gallery_heb{
        width: 100%;
    }

    aside{
        height: auto;
        margin-left: 25px;
        border-radius: 30px;
        margin-top: 20px;
    }

    .hotel_1, .hotel_2, .hotel_3{
        height: 130px;
        width: 77%;
        margin-bottom: 50px;
    }

    .gallery_act{
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }

    .activites figcaption{
        height: 45px;
    }

    /* Nom des divs pour les activités */
    .vieuxport, .pomegue_frioul, .parc, .notredame_longchamp{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vieuxport figure, .parc figure{
        width: 100%;
        height: 100%;
    }

    .vieuxport img, .parc img{
        height: 85%;
    }

    .vieuxport h4, .parc h4{
        padding-top: 15px;
    }

    .pomegue_frioul figure, .notredame_longchamp figure{
        width: 100%;
        height: 45%;
    }

    #pomegues img{
        height: 170px;
    }

    #pomegues h4{
        padding-top: 5px;
    }

    #frioul img{
        height: 110px;
    }

    #frioul h4{
        padding-top: 15px;
    }

    #notredame img{
        height: 140px;
    }

   footer{
        display: flex;
        justify-content: flex-start;
    }

    footer div{
        margin-left: 40px;
        margin-right: 130px;
    }
}