/* Paramètres généraux */

@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
    src: url("Raleway/static/Raleway-Thin.ttf");
}

body{
    font-family: "Raleway",Arial, "Arial Black";
    margin:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Mise en page du Header */

header img{
    margin-top: 10px;
    margin-left: 40px;
}

.inscrire{
    position: absolute;
    top: 27px;
    right: 35px;
    color: #0065FC;
    font-weight: bold;
}

nav ul{
    padding: 0;
    display: flex;
}

nav ul li{
    padding-bottom: 10px;
    font-weight: bold;
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 3px #F2F2F2 solid;
}

.liens_nav:hover{
    color: #0065FC;
}

nav ul li:hover{
    border-bottom-color: #0065FC;
}

/* Mise en page Titres et Sous-titres */

#premiere_section{
    text-align: center;
}

/* Formulaire */

form{
    display: flex;
    justify-content: center;
}

.icon_map{
    width: 35px;
    height: 35px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon_map i{
    padding: 8px;
    font-size: 15px;
}

input{
    padding-left: 10px;
    border-color: transparent;
    font-weight: bold;
}

.rechercher{
    display: none;
}

.icon_loupe{
    width: 35px;
    height: 35px;
    background-color: #0065FC;
    border-radius: 10px;
}

.icon_loupe i{
    padding: 8px;
    font-size: 15px;
    color: white;
}

/* Mise en page Section des filtres */

#section_filtres{
    margin-left: 40px;
}

.conteneur_filtres{
    display: flex;
    flex-direction: column;
}

.conteneur_filtres i{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.filtre{
    font-size: 10px; 
}

span a{
    font-weight: bold;
    padding-left: 5px;
}

span i{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 10px;
}

span:hover{
    background-color: rgb(178, 207, 76);
}

.filtre_eco, .filtre_romantique, .filtre_animaux{
    width: 40%;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filtre_familial{
    position: absolute;
    right: 70px;
    width: 25%;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filtre_romantique, .filtre_animaux{
    margin-top: 10px;
}

.filtre_animaux{
    width: 52%;
}

/* Texte informatif "Plus de 500..." */

.info{
    display: flex;
    align-items: center;
}

.info i{
    color: #0065FC;
    font-size: 10px;
    border: 3px #F2F2F2 solid;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p{
    padding-left: 10px;
    padding-top: 20px;
    margin: 0;
}

/* Début de la partie principale (Main) */

/* Aside "Les plus populaires" */

aside{
    background-color: #F2F2F2;
    height: 510px;
}

h3{
    margin-left: 40px;
    padding-top: 15px;
}

h3 i{
    position: absolute;
    right: 30px;
}

/* Les 3 hôtels les plus populaires */

figure{
    box-shadow: 1px 1px 10px rgb(126, 124, 124);
}

.hotel_1, .hotel_2, .hotel_3{
    display: flex;
    background-color: white;
    border: 7px white solid;
    border-radius: 24px;
}

.hotel_1 img, .hotel_2 img, .hotel_3 img{
    object-fit: cover;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.hotel_1 img, .hotel_3 img{
    width: 50%;
}

.hotel_2 img{
    width: 76%;
}

.hotel_3{
    height: 120px;
}

aside figcaption{
    padding-left: 10px;
    height: 120px;
}

/* Conteneur icônes étoiles */

.etoiles i{
    color: #0065FC;
}

i.grise{
    color: rgb(206, 217, 150);
}

/* Sections hébergements et activités */

.heb img, .act img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements figcaption, .activites figcaption{
    padding-left: 15px;
    height: 110px;
}

.afficher_plus{
    padding-left: 40px;
    font-weight: bold;
}

.heb, .act{
    border-radius: 15px;
}

.act{
    height: 140px;
}

.heb img{
    padding: 3px 3px;
    width: 98%;
}

h4{
    margin: 0;
    padding-top: 7px;
}

/* Mise en page du Footer */

footer{
    height: 335px;
    padding-top: 10px;
    padding-left: 40px;
    background-color: #F2F2F2;
    margin-top: 40px;
}

footer ul{
    padding: 0;
}

h5{
    font-size: 16px;
}
