/* Paramètres généraux */

@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
    src: url("Raleway/static/Raleway-Thin.ttf");
}

body{
    font-family: "Raleway", Arial, "Arial Black";
    margin:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/*

     Paramètres Header de la page 

*/

header{
    display: flex;
    flex-direction: column;
}

#conteneur_header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#conteneur_header img{
    width: 200px;
}

#conteneur_header a{
    font-size: 35px;
    color: #0065FC;
    font-weight: bold;
}

/* Paramètres de la nav header */

nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    font-size: 25px;
    margin: 20px 100px;
}

ul li{
    color: black;
    font-weight: bold;
}

/* 
     
     Mise en page de la première section (Titres et Formulaire) 

 */

#premiere_section{
    display: flex;
    flex-direction: column;
}

h1{
    margin: auto;
    width: 75%;
    font-size: 48px;
    padding: 35px;
}

#premiere_section p{
    width: 75%;
    margin: auto;
    font-size: 34px;
}

/* Pour le formulaire */

#conteneur_form{
    display: flex;
    width: 75%;
    margin: auto;
    height: 50px;
}

 .icon_map{
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

input{
    width: 40%;
    padding: 0;
}

form button{
    display: none;
}

.icon_loupe{
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0065FC;
    border-radius: 15px;
}

.icon_loupe i{
    color: white;
    font-size: 22px;
}

/*

       Mise en page de la section des Filtres 
 
 */

#section_filtres{
    display: flex;
    flex-direction: column;
}

#section_filtres h2{
    padding: 0px 120px;
}

/* Conteneur des filtres */

#filtres{
    padding-left: 120px;
}

/* Conteneur filtres économique et familial */

.conteneur_eco_familial{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#filtres i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color:#DEEBFF;
    color: #0065FC;
}

#filtres a{
    padding: 10px;
}

.economique, .familial, .romantique, .animaux{
    display: flex;
    align-items: center;
    border: 3px #d8d3d3 solid;
    border-radius: 45px;
    height: 47px;
    border-width: medium;
    font-size: 20px;
}

.romantique{
    width: 20%;
}

.animaux{
    width: 29%;
}

/* Texte "Plus de 500 logements..." */

.info{
    width: 50%;
    margin-left: 115px;
    display: flex;
    align-items: baseline;
}

.info i{
    border-radius: 20px;
    border: 2px #d8d3d3 solid;
    color: #0065FC;
    width: 20px;
    display: flex;
    justify-content: center;
}

.info p{
    font-size: 25px;
    margin-left: 20px;
}

/* 
    
     PARTIE MAIN

*/

/* 
     Aside Les plus populaires 
*/


